html {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
  
body {
  margin: inherit;
  padding: inherit;
  height: 100%;
  width: inherit;
}

#particles-js {
  position: absolute;
  top: 0px;
  height: 100%;
  width: inherit;
  background: #3c1c41;
}

canvas.particles-js-canvas-el {
position: absolute;
top: 0px;
z-index: 0;
}

.pantallas {
  height: auto;
  width: inherit;
  background-color: rgba(209, 192, 211, 0.658);
  margin-top: 0px;
  padding: inherit;
  display: none;
}

#portada {
  margin: inherit;
  padding: inherit;
  height: 100%;
  width: inherit;
}

.container-fluid {
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

#aboutMe {
  margin: inherit;
  padding: inherit;
  min-height: 100%;
  height: auto;
  width: inherit;
}

h1 {
  color: #FAFAFA;
  position: absolute;
  font-size: 250%;
  font-family: 'Courgette', cursive;
}
  
.centrado-porcentual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
  
.img1 {
  width: 230px !important;
  height: auto;
}
  
.btns-data {
  background-color: #3c1c41;
  border: none;
  color: #FAFAFA;
  z-index: 3;
}
  
.btns-data:active {
  background-color: #5a2b44 !important;
  border:none;
  box-shadow: #FAFAFA;
}
  
.btns-data:hover {
  background-color: #5a2b44 !important;
  border:none;
  box-shadow: #FAFAFA;
}
  
.btn-group {
  position: absolute;
  right: 10px;
}
  
.btn-home {
  background-color: #FAFAFA;
  color: black;
  float:right;
}
  
.btn-home:active {
  background-color: #5a2b44;
}
  
.btn-home:hover {
  background-color: rgb(104, 58, 98);
}
  
/* Pantalla Sobre mí */
  
.center {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}
  
.navbar {
  background-color: #3c1c41 !important;
}
  
.fontItalic {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
}
  
.containerBtnRedes {
  border: none;
  width: 100%;
  padding: 0px; 
}
  
.linkBtn {
  padding: 0px;
  margin: 0px;
  background-color: #3c1c41;
  width: 50%;
  height: 120%;
  border-radius: 55%;
}
  
.icons {
  font-size: 30px;
  color: rgb(199, 181, 201);
  position: relative;
  margin-top: 10%;
}
  
.fila {
  width: inherit;
  margin: 0px;
}
  
.aboutMetext {
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 4%;
  font-size: 100%;
  color: rgba(51, 51, 51, 0.836);
}

.aboutMetext2 {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 2%;
  margin-bottom: 0%;
  margin-left: 4%;
  font-size: 90%;
  color: #333;
}

.conceptos {
  color: #58235f;
  font-size: 100%;
}

.saludo {
  font-size: 280%;
  margin-top: 8%;
  margin-bottom: 0px;
  color: #58235f;
}

.tools {
  margin-bottom: 4%;
  background-color: #3c1c41;
  border-radius: 50%;
  width: 100%;
  height: 150%;
}

.toolsDiv {
  margin-top: 3%;
  padding: 2%;
}

.row-title {
  margin-top: 12%;
  background-color: rgb(173, 137, 177);
}

.title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 150%;
  color: #3c1c41;
}

.row-skills {
  margin-top: 2%;
  text-align: center;
}

.div-js {
  background-color: black;
  padding: 0px;
  width: 62px;
  height: 50px;
  position: relative;
  top: -60px;
  left: 28px;
  z-index: -2;
}

.icons-skills-div {
  padding: 2%;
  width: 100%;
}

.icons-skills {
  font-size: 100px;
}

.icon-html5 {
  color: #E54C21;
}

.icon-js {
  color: #F7DF1E;
  font-size: 100px;
}

.icon-css3 {
  color: #01ACE4;
}

.tools-tech {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 6%;
}

.skills {
  margin-left: 4%;
}

.font-text {
  font-family: 'Fira Sans', sans-serif;
}

.img1 {
  width: 280px;
  height: auto;
  margin-left: 5%;
  margin-top: 7%;
}

.btnGithub {
  margin-right: 5%;
  display: inline-block;
}

.btnLinkedin {
  display: inline-block;
}
  
/* Pantalla Proyectos */
.imgProject {
  margin-top: 5%;
  width: 250px;
  height: auto;
}

.title-project {
  font-size: 130%;
  margin-top: 2%;
  text-align: center;
  color: #58235f;
}

.project-text {
  text-align: center;
}

#contact {
  margin: inherit;
  padding: inherit;
  min-height: 100%;
  height: auto;
  width: inherit;
}

.title-contact {
  font-size: 200%;
  margin-top: 4%;
  margin-left: 4%;
  color: #58235f;
}

.email {
  color: #58235f;
}

.text-contact {
  margin-left: 3%;
  margin-top: 3%;
}

.btns-contact {
  margin-top: 15%;
}



