html {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
  
body {
  margin: inherit;
  padding: inherit;
  height: 100%;
  width: inherit;
}

#particles-js {
  position: absolute;
  top: 0px;
  height: 100%;
  width: inherit;
  background: #3c1c41;
}

canvas.particles-js-canvas-el {
position: absolute;
top: 0px;
z-index: 0;
}

.pantallas {
  height: auto;
  width: inherit;
  background-color: rgb(199, 181, 201);
  margin-top: 0px;
  padding: inherit;
  display: none;
}

#portada {
  margin: inherit;
  padding: inherit;
  height: 100%;
  width: inherit;
}

.container-fluid {
  height: auto;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

#aboutMe {
  margin: inherit;
  padding: inherit;
  min-height: 100%;
  height: auto;
  width: inherit;
}

h1 {
  color: #FAFAFA;
  position: absolute;
  font-size: 250%;
  font-family: 'Courgette', cursive;
}
  
.centrado-porcentual {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
  
.img1 {
  width: 230px !important;
  height: auto;
}
  
.btns-data {
  background-color: #3c1c41;
  border: none;
  color: #FAFAFA;
  z-index: 3;
}
  
.btns-data:active {
  background-color: #5a2b44 !important;
  border:none;
  box-shadow: #FAFAFA;
}
  
.btns-data:hover {
  background-color: #5a2b44 !important;
  border:none;
  box-shadow: #FAFAFA;
}
  
.btn-group {
  position: absolute;
  right: 10px;
}
  
.btn-home {
  background-color: #FAFAFA;
  color: black;
  float:right;
}
  
.btn-home:active {
  background-color: #5a2b44;
}
  
.btn-home:hover {
  background-color: rgb(104, 58, 98);
}
  
/* Pantalla Sobre mí */
  
.center {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}
  
.navbar {
  background-color: #3c1c41 !important;
}
  
  .aboutMeTitle {
    margin-top: 0%;
    padding-top: 2%;
    margin-bottom: 2%;
    font-family: 'Courgette', cursive;
    color: #FAFAFA;
  }
  
  .fontItalic {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
  }
  
  .divTitle {
    padding: 0px;
  }
  
  .containerBtnRedes {
    border: none;
    width: 100%;
    padding: 0px; 
  }
  
  .linkBtn {
    padding: 0px;
    margin: 0px;
    background-color: #3c1c41;
    width: 50%;
    height: 120%;
    border-radius: 55%;
  }
  
  .icons {
    font-size: 30px;
    color: rgb(199, 181, 201);
    position: relative;
    margin-top: 10%;
  }
  
  .fila {
    width: inherit;
    margin: 0px;
  }
  
  .aboutMetext {
    color: black;
    margin-top: 8%;
  }
  
  /* Pantalla Proyectos */
  .imgProject {
    margin-top: 5%;
    width: 250px;
    height: auto;
  }
  

  .img1 {
    width: 280px;
    height: auto;
    margin-left: 5%;
    margin-top: 7%;
  }

  .btnGithub {
    margin-right: 5%;
    display: inline-block;
  }

  .btnLinkedin {
    display: inline-block;
  }
